<?xml version="1.0"?>
<!--
/**
 * Base module container for extending and testing general functionality across Magento 2.
 *
 * @package   Iods\Base
 * @author    Rye Miller <rye@drkstr.dev>
 * @copyright Copyright (c) 2022, Rye Miller (https://ryemiller.io)
 * @license   See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <!--
    /*
     * Notes: @TODO
     */
    -->
    <acl>
        <resources>
            <resource id="Magento_Backend::admin" title="Admin">
                <resource id="Magento_Backend::stores" title="Stores">
                    <resource id="Magento_Backend::stores_settings" title="Stores Settings">
                        <resource id="Magento_Config::config" title="Config">

                            <resource id="Iods_Base::settings" title="ioDS Apps Section" sortOrder="50">
                                <resource id="Iods_Base::config" title="Base Settings Section" sortOrder="10" />
                            </resource>

                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
