<?xml version="1.0"?>
<!--
/**
 * Core module for extending and testing functionality across Magento 2
 *
 * @package   Iods_Core
 * @author    Rye Miller <rye@drkstr.dev>
 * @copyright Copyright (c) 2021, Rye Miller (https://ryemiller.io)
 * @license   See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">

    <default>
        <iods>
            <general>
                <debug_enabled>0</debug_enabled>
                <menu>0</menu>
            </general>
            <env>
                <iods_api_url>https://api.thedarksociety.cloud/core/v3/stores/{store_id}/</iods_api_url>
                <iods_api_url_messaging>https://api.thedarksociety.cloud/messaging/v3/stores/{store_id}/</iods_api_url_messaging>
                <iods_api_v1_url>https://api.thedarksociety.cloud/</iods_api_v1_url>
                <iods_api_url_access_tokens>access_tokens</iods_api_url_access_tokens>
            </env>
        </iods>
        <crontab>
            <iods>
                <jobs>
                    <iods_cron_indexes_check>
                        <schedule>
                            <cron_expr>*/2 * * * *</cron_expr>
                        </schedule>
                    </iods_cron_indexes_check>
                    <iods_cron_logs_clean>
                        <schedule>
                            <cron_expr>*/2 * * * *</cron_expr>
                        </schedule>
                    </iods_cron_logs_clean>
                </jobs>
            </iods>
        </crontab>
    </default>
</config>