<?xml version="1.0"?>
<!--
/**
 * Base module container for extending and testing general functionality across Magento 2.
 *
 * @package   Iods\Base
 * @author    Rye Miller <rye@drkstr.dev>
 * @copyright Copyright (c) 2022, Rye Miller (https://ryemiller.io)
 * @license   See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <!--
    /*
     * Notes: @TODO
     */
    -->
    <default>
        <base>
            <base_general>
                <general_enable_self>1</general_enable_self>
                <general_enable_developer>0</general_enable_developer>
            </base_general>
            <base_logging>
                <logging_is_production>0</logging_is_production>
                <logging_cleanup_period>30</logging_cleanup_period>
            </base_logging>
            <base_support>
                <support_enabled>0</support_enabled>
                <support_email>rye@drkstr.dev</support_email>
                <support_whitelist_ip><![CDATA[
127.0.0.1
8.8.8.8
192.168.0.1
10.10.10.1
                ]]></support_whitelist_ip>
                <suppport_extended>0</suppport_extended>
                <support_key>1A2B3C4D5E6F</support_key>
                <support_statistics>0</support_statistics>
            </base_support>
        </base>
    </default>
</config>
