<?xml version="1.0"?>
<!--
/**
 * Core module for extending and testing functionality across Magento 2
 *
 * @package   Iods_Core
 * @author    Rye Miller <rye@drkstr.dev>
 * @copyright Copyright (c) 2021, Rye Miller (https://ryemiller.io)
 * @license   See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <add id="Iods_Core::iods"
             title="Iods"
             module="Iods_Core"
             sortOrder="10"
             dependsOnModule="Iods_Core"
             resource="Iods_Core::iods" />
        <add id="Iods_Core::core"
             title="Core"
             module="Iods_Core"
             sortOrder="999"
             dependsOnModule="Iods_Core"
             parent="Iods_Core::iods"
             resource="Iods_Core::core" />
        <add id="Iods_Core::config"
             title="Configuration"
             module="Iods_Core"
             sortOrder="10"
             dependsOnModule="Iods_Core"
             parent="Iods_Core::core"
             action="adminhtml/system_config/edit/section/iods"
             resource="Iods_Core::config" />
        <add id="Iods_Core::info"
             title="Information"
             module="Iods_Core"
             sortOrder="30"
             dependsOnModule="Iods_Core"
             parent="Iods_Core::core"
             action="devcore/info"
             resource="Iods_Core::info" />
    </menu>
</config>