<?xml version="1.0"?>
<!--
/**
 * Base module container for extending and testing general functionality across Magento 2.
 *
 * @package   Iods\Base
 * @author    Rye Miller <rye@drkstr.dev>
 * @copyright Copyright (c) 2022, Rye Miller (https://ryemiller.io)
 * @license   See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <!--
    /**
     * Notes: Base module defines tabs, everything else extends and hooks into it.
     *
     * 1. Organization is important. {Vendor_Tab}
     *
     * https://experienceleague.adobe.com/docs/commerce-operations/configuration-guide/files/config-reference-systemxml.html
     */
    -->
    <system>
        <!-- default iods extension node -->
        <tab id="iods_base" translate="label" sortOrder="99999">
            <label><![CDATA[Apps]]></label>
        </tab>

        <section id="base" translate="label"
                 sortOrder="10"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label><![CDATA[Basic]]></label>
            <tab>iods_base</tab>

            <resource>Iods_Base::config</resource>

            <group id="base_config" translate="label"
                   sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>

                <field id="base_config_enabled" translate="label comment" type="select"
                       sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Enabled]]></label>
                    <config_path>base/base_config/base_config_enabled</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[
                        Select <b>No</b> to temporarily disable this module and all it's settings.
                    ]]></comment>
                </field>

                <field id="base_config_enabled_debug" translate="label comment tooltip" type="select"
                       sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Debugging Enabled]]></label>
                    <config_path>base/base_config/base_config_debug</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <comment><![CDATA[
                        Select <b>Enable</b> to use the iods Developer module for debugging and development help.
                    ]]></comment>
                    <tooltip>The debugging package will be downloaded and included in the `vendor` codebase.</tooltip>
                </field>

                <field id="base_config_api_url" translate="label comment" type="text"
                       sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label><![CDATA[API URL]]></label>
                    <config_path>base/base_config/base_config_api_url</config_path>
                    <validate>required-entry</validate>
                    <comment><![CDATA[
                        The URL to generate notifications for status updates.
                    ]]></comment>
                </field>

                <field id="base_config_email" translate="label comment" type="text"
                       sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Support Email Address</label>
                    <config_path>base/base_config/base_config_email</config_path>
                    <comment>Email address that will receive the level 1-3 notifications for opened issues.</comment>
                </field>

            </group>

        </section>
    </system>
</config>
