<?xml version="1.0"?>
<!--
/**
 * Core module for extending and testing functionality across Magento 2
 *
 * @package   Iods_Core
 * @author    Rye Miller <rye@drkstr.dev>
 * @copyright Copyright (c) 2021, Rye Miller (https://ryemiller.io)
 * @license   See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">

    <system>

        <!--
        /**
         * Notes: DRKSTR or Iods?
         */
        -->
        <tab id="iods" translate="label" class="iods-tab" sortOrder="10">
            <label>DRKSTR Extensions</label>
        </tab>
        <!--
         /**
          * Notes:
          */
        -->
        <section id="iods_core" translate="label" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Core</label>
            <tab>iods</tab>
            <resource>Iods_Core::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="menu" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Iods Menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Iods\Core\Model\Config\Backend\Menu</backend_model>
                    <comment>If enabled, the Iods menu will be displayed on the admin main navigation. All eligible Iods module menus will be displayed there.</comment>
                </field>
            </group>
            <group id="information" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Information</label>
                <attribute type="expanded">1</attribute>
                <field id="developer" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Developer</label>
                    <frontend_model>Iods\Core\Block\Adminhtml\System\Config\Module\Developer</frontend_model>
                    <comment><![CDATA[
                        Donate: <a href="#" title="Buy me a coffe">Buy me a coffee</a>
                    ]]></comment>
                </field>
                <field id="version" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Version</label>
                    <frontend_model>Iods\Core\Block\Adminhtml\System\Config\Module\Version</frontend_model>
                </field>
                <field id="link" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Configuration</label>
                    <frontend_model>Iods\Core\Block\Adminhtml\System\Config\Form\Field\Link</frontend_model>
                </field>
            </group>
        </section>
        <!--
        /**
         * Notes:
         */
        -->
        <section id="iods-twofactorauth">
            <group id="general">
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" canRestore="1">
                    <label>Enable 2FA</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Warning: Enabling 2FA will immediately prompt admin user for OTP code.</comment>
                </field>
                <field id="force_providers">
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="webapi_notification_url">
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>